{% block collection_widget %}
{% spaceless %}
    <div class="inside">
    {% if form is not empty %}    
        {{ block('form_widget') }}
    {% elseif prototype is defined %}  
        {% set protoform = form_row(prototype) %}
        {% for key, translation in prototype.trans_lang.vars.choices %}
            {# here create one form for each language, removing the hidden from the first line, so you dont have to do it with javascript,  
            note that the hidden is accompanied by a trans class to make sur not to remove other hiddens in the prototype #}
            {{ protoform | replace({"__name_trans__label__": loop.index0, "__name_trans__": loop.index0, "trans_div" : loop.index0!=0?"trans_div hidden":"trans_div", ('<option value="'~key~'"') : '<option value="'~key~'" selected="selected"'})|raw }}
        {% endfor %} 
    {% endif %}
    </div>
{% endspaceless %}
{% endblock collection_widget %}

{% block form_widget %}
{% spaceless %}
    {% if compound %}
    {# set class to hidden if name not 0, so basically hide all but first for translation list #}
        {% if 0 != name %}
            {% set attr = attr|merge({'class' : 'trans_div hidden'}) %}
        {% elseif "translations" != name %}
            {% set attr = attr|merge({'class' : 'trans_div'}) %}
        {% endif %}
        {{ block('form_widget_compound') }}
    {% else %}
        {{ block('form_widget_simple') }}
    {% endif %}
{% endspaceless %}
{% endblock form_widget %}

