@import "mixin.less";
@import "color.less";
root { 
    display: block;
}

body {  
    margin: 0;
}

#main{
 > div{
        display: inline-block;
        vertical-align: top;
        &#navigation{
            ul{
                width: 150px;
            }
          //  background-color: red;
        }
        &.content{
            width: 100%;
          //  background-color: yellow;
        }
    }

    .content{
        > div{
               display: inline-block;
              // height: 20px;
       }
       > #div1{
            width: 20%;
            background-color: orange;
        }
       > #div2{
            width: 60%;
            background-color: green;
        }
       > #div3{
            width: 20%;
            background-color: blue;
        }
       > #div4{
            width: 20%;
            background-color: purple;
        }
       > #div5{
            width: 60%;
            background-color: pink;
        }
       > #div6{
            width: 20%;
            background-color: grey;
        }
    }
    #navigation.admin{
        width: 12%;
    }
    .content.admin{
        width: 88%;
    }
}

.post-inline-editor{
    border: 1px solid #B3B3B3;
}
.hidden{
    display: none;
}
