@import "mixin.less";
@import "color.less";
root { 
    display: block;
}

body {  
    margin: 0;
}

#main{
 > div{
        display: inline-block;
        vertical-align: top;
      //  min-height: 1000px;
        //padding: 0 40px 0 40px;
      //  border: 1px solid black;
        &#navigation{
            ul{
                width: 150px;
            }
        }
    }
}
