# Bootstrap
app/bootstrap*

# Symfony directories
#vendor/*
app/logs/*
app/cache/*
web/uploads/*
web/bundles/*
secure_content/*

# Configuration files
app/config/parameters.ini
app/config/parameters.yml
app/config/parameters_dev.yml
app/config/apache.conf
# netbeans
nbproject/private/*

#the pdf creator's log
src/Slik/DompdfBundle/DomPDF/lib/fonts/log*
