<dl>
    {% for entity in entities %}
        <dt><div>{{ entity.status?'status':'instatus' }}</div> <strong>{{ entity.question }}</strong></dt>
        <dd>{{ entity.reponse }}</dd>
    {% else %}
        &nbsp;
    {% endfor %}
</dl>