{%  extends "EvocatioCoreBundle:Template:add_template.html.twig" %}
{% block formhead %}
    {{ path('EvocatioPersonaBundle_PersonaCreate', {'discriminator' : app.getRequest().get("discriminator")}) }}
{% endblock formhead %}

{% block form %}
    {{ form_widget(edit_form) }}
                <input type=button value="add address" onclick="javascript:addAnItem('evocatio_bundle_personabundle_persontype_postal')" />
                <input type=button value="add map" onclick="javascript:addAnItem('evocatio_bundle_personabundle_persontype_map')" />
                <input type=button value="add web" onclick="javascript:addAnItem('evocatio_bundle_personabundle_persontype_web')" />
                <input type=button value="add telephone" onclick="javascript:addAnItem('evocatio_bundle_personabundle_persontype_telephone')" />
                <input type=button value="add time" onclick="javascript:addAnItem('evocatio_bundle_personabundle_persontype_time')" />
    {#% include("EvocatioPersonaBundle:PersonaAdmin:Snippets/" ~ app.getRequest().get("discriminator") ~ "Form.html.twig")  %#}
{% endblock form %}

{% block back %}
                <a href="{{ path('EvocatioPersonaBundle_PersonaList') }}">
                    Back to the list
                </a>
{% endblock back %}
