{%  extends "::base.html.twig" %}
{% block theatre %}
<div class="homepage">
    <img class="mec" src="/bundles/websitesite/images/mec.png" />
    <div class="bulle"></div>
</div>
{% endblock theatre %}
