{%  extends "::base.html.twig" %}
{% block theatre %}
<div class="homepage">
    <img class="mec" src="/bundles/websitesite/images/mec.png" />
    <div class="bulle"></div>
    
    <div>
    {% render "EvocatioPostBundle:Post:listWidget" with {"template" : 'WebsiteSiteBundle:Post:list_widget.html.twig', 'qt' : 2} %}
    </div>
</div>
{% endblock theatre %}
