{%  extends "::base.html.twig" %}
{% block main %}
<div>
    <div class="hero-unit intro">
        <h1>NOUS RÉALISONS <br> DES APPLICATIONS WEB</h1>
        <p>Vous aimeriez que votre site soit <strong>plus qu’une simple présence</strong> sur le Web ou vous
            aimeriez qu’il <strong>fasse quelque chose de bon</strong> pour vos affaires?</p>
        <a href="#about" class="primary btn scroll">À propos  ⇩</a>
        <h2 style="color:#1D3372;font-size:1.8em;margin-top:20px;font-weight:800;">NOS PRODUITS</h2>
    </div>
</div>
{% endblock main %}
