<ul class="nav">
    <li><a href="{{ path('WebsiteSiteBundle_Home') }}">ACCUEIL</a></li>
    <li><a href="{{ path('EvocatioPostBundle_PostIndex') }}">ACTUALITÉS</a></li>
    <li><a href="#">PRODUITS</a></li>
    <li><a href="#">LIBRAIRIE</a></li>
    <li><a href="{{ path('EvocatioWebBundle_FaqIndex') }}">FAQ</a></li>
    <li><a href="#">CONTACT</a></li>
</ul>