{%  extends "::base.html.twig" %}
{% block theatre %}
<form action="
      {% block formhead %}
      {{ path('EvocatioPersonaBundle_create') }}
      {% endblock formhead %}
      " method="post" {{ form_enctype(edit_form) }}>
      <fieldset>
        {{ form_widget(edit_form) }}
              <input type=button value="add stuff" onclick="javascript:addAnItem('evocatio_bundle_contactbundle_contacttype_coordinate')" >
        <input type="submit" value='go go go' >
    </fieldset>
</form>
{% endblock theatre %}
{% block javascripts %}
parent()
<script type="text/javascript" src="{{ asset('js/sig.js')}}" >
{% endblock javascripts %}
    
