{%  extends "EvocatioPosBundle:GenericProduct:new.html.twig" %}
{% block formhead %}
    {{ path('EvocatioPosBundle_GenericProductUpdate', { 'id': edit_form.vars.value.id }) }}
{% endblock formhead %}
{% block delete %}
<li>
    <form action="{{ path('EvocatioPosBundle_GenericProductDelete', { 'id': entity.id }) }}" method="post">
        {{ form_widget(delete_form) }}
        <button type="submit">Delete</button>
    </form>
</li>
{% endblock delete %}