{%  extends "::base.html.twig" %}
{% block theatre %}
<ul>
    {% for post in entities %}
        <li>
        {{ post.status }} - <strong>{{ post.title }}</strong>
                <span>
   {{ post.excerpt }}
                    </span> 
                </li>
    {% else %}
                Pas d'entité
    {% endfor %}

{% endblock theatre %}


