{%  extends "::base.html.twig" %}
{% block theatre %}
    <ul>
        <li>
            {% include("EvocatioPosBundle:Basket:basket.html.twig") with { "entity" : entity } %}
        </li>
    </ul>
{% endblock theatre %}



