{%  extends "::base.html.twig" %}
{% block theatre %}
    <dl>
        {% if entity is not empty %}
            {% for line in entity.getLineItems %}
            <div>{{ line.product.name }}</div> 
            {% endfor %}
        {% else %}
            aucune entré
        {% endif %}
            
    </dl>
<ul>
    <li>
        <a href="{{ path('EvocatioPosBundle_BasketEdit') }}">
            edit basket
        </a>
    </li>
</ul>
{% endblock theatre %}
