{%  extends "EvocatioPersonaBundle:Person:new.html.twig" %}
{% block formhead %}
    {{ path('EvocatioPersonaBundle_PersonWithCoorUpdate', { 'id': edit_form.vars.value.id }) }}
{% endblock formhead %}
{% block form %}
{{ parent() }}
<input type=button value="add address" onclick="javascript:addAnItem('evocatio_bundle_personabundle_persontype_postal')" />
<input type=button value="add map" onclick="javascript:addAnItem('evocatio_bundle_personabundle_persontype_map')" />
{% endblock form %}
{% block delete %}
<li>
    <form action="{{ path('EvocatioPersonaBundle_PersonWithCoorDelete', { 'id': entity.id }) }}" method="post">
        {{ form_widget(delete_form) }}
        <button type="submit">Delete</button>
    </form>
</li>
{% endblock delete %}