<ul>
    {% for entity in entities %}
    <li>
        <span><strong>{{ entity.question }}</strong></span>
        <p>
            {{ entity.reponse }}
        </p>
    </li>
    {% endfor %}
</ul>



