{%  extends "::base.html.twig" %}

{% block meta_inside_title %} Haven Solution Technologie {% endblock meta_inside_title %}


    
{% block inside_footer %} 
        <p>Suivez-nous sur <a href="http://twitter.com/evocat1o">Twitter</a>, <a href="http://facebook.com/haven">Facebook</a>, et <a href="https://github.com/haven/">GitHub</a></p>
        <p>Haven est fier membre des conseils d'administration de l'<a href="http://apell-quebec.ca" title="Association professionnelle des Entreprises en Logiciels Libres">APELL Québec</a>, et de <a href="http://w3qc.org" title="W3Québec, Promotion des standards ouverts et bonnes pratiques du Web">W3Québec</a></p>
        <p>Tout droits réservés © 2010-2012 Haven Solutions Technologiques Inc.</p>
{% endblock inside_footer %}
    
    