{%  extends "::base.html.twig" %}
{% import "::macro/route/crud.html.twig" as _route_crud %}
{% import "::macro/route/suffix.html.twig" as _route_suffix %}
{% import "::macro/form/translated_row.html.twig" as _form %}

{% block inside_title %} Evocatio Solution Technologie {% endblock inside_title %}

{% block navigation %} 
<div id="navigation" class="admin">
{% include "OwnerSiteBundle::navigation_admin.html.twig" %} 
</div>
{% endblock navigation %}

{% block content %} 
<div  class="content admin">
{% block inside_content %} 
{% endblock inside_content %}
</div>
{% endblock content %}