{%  extends "::base.html.twig" %}

{% block inside_title %} Evocatio Solution Technologie {% endblock inside_title %}

{% block inside_header %}
<a href="{#{ path('EcoleDeMusiqueSiteBundle_Home')}#}"><img src="/images/logo.white.png" /></a>
{% endblock inside_header %}

{% block inside_navigation %} 
    {% include "OwnerSiteBundle::navigation.html.twig" %} 
{% endblock inside_navigation %}
{% block inside_content %} 
    {% block div1 %}
    <div id="div1">
        {% block inside_div1 %}{% endblock inside_div1 %}
    </div>
    {% endblock div1 %}
    {% block div2 %}
    <div id="div2">
        {% block inside_div2 %}{% endblock inside_div2 %}
    </div>
    {% endblock div2 %}
    {% block div3 %}
    <div id="div3">
        {% block inside_div3 %}{% endblock inside_div3 %}
    </div>
    {% endblock div3 %}
    {% block div4 %}
    <div id="div4">
        {% block inside_div4 %}{% endblock inside_div4 %}
    </div>
    {% endblock div4 %}
    {% block div5 %}
    <div id="div5">
        {% block inside_div5 %}{% endblock inside_div5 %}
    </div>
    {% endblock div5 %}
    {% block div6 %}
    <div id="div6">
        {% block inside_div6 %}{% endblock inside_div6 %}
    </div>
    {% endblock div6 %}
    
{% endblock inside_content %}
    
    