{%  extends "::base.html.twig" %}

{% block meta_inside_title %} Evocatio Solution Technologie {% endblock meta_inside_title %}

{% block inside_header %}
    <a href="{#{ path('Evocatio_Home')}#}"><img src="/images/evocatio_modified.png" /></a>
    {% include "OwnerSiteBundle::navigation.html.twig" %} 
{% endblock inside_header %}

    
{% block inside_footer %} 
    <h4>Footer</h4>
<div class="centered-text">
        <p>Suivez-nous sur <a href="http://twitter.com/evocat1o">Twitter</a>, <a href="http://facebook.com/evocatio">Facebook</a>, et <a href="https://github.com/evocatio/">GitHub</a></p>
        <p>Evocatio est fier membre des conseils d'administration de l'<a href="http://apell-quebec.ca" title="Association professionnelle des Entreprises en Logiciels Libres">APELL Québec</a>, et de <a href="http://w3qc.org" title="W3Québec, Promotion des standards ouverts et bonnes pratiques du Web">W3Québec</a></p>
        <p>Tout droits réservés © 2010-2012 Evocatio Solutions Technologiques Inc.</p>
    </div>
{% endblock inside_footer %}
    
    