<ul>
    <li>
        École
        <ul>
            <li><a>Historique</a></li>
            <li><a href="{{ path("ecoledemusique_site_professor_index", {'discriminator': 'professor'}) }}">L'équipe</a></li>
            <li><a>Porte Folio</a></li>
        </ul>
    </li>
    <li>
        Cours de musique
        <ul>
            <li><a>Pourquoi? </a></li>
            <li><a>Calendrier académique</a></li>
            <li><a>Instruments</a></li>
            <li><a>Chant</a></li>
            <li><a>Tarif</a></li>
        </ul>
    </li>
    <li>
        Musique dans l'Église
        <ul>
            <li><a>Histoire</a></li>
        </ul>
    </li>
    <li>
        Aide
        <ul>
            <li><a href="{{ path("EcoleDeMusiqueSiteBundle_NewContact") }}">Contact</a></li>
            <li><a href="{{ path("ecoledemusique_site_faq_index")}}">Faq</a></li>
        </ul>
    </li>
    <li>About</li>
</ul>
