<ul class="menu">
    <li class="menu-item">
        Evocatio
    </li>
    <li class="menu-item">
        Comprendre
    </li>
    <li class="menu-item">
        Apprendre
    </li>
    <li class="menu-item">
        Champagne
    </li>
    <li class="menu-item">
        Communauté
    </li>
    <li class="menu-item">
        Aide
    </li>
</ul>
