{% import "::macro/route/i18n.html.twig" as route_i18n %}

<ul class="menu">
    <li class="menu-item">
        Evocatio
    </li>
    <li class="menu-item">
        Comprendre
    </li>
    <li class="menu-item">
        Apprendre
    </li>
    <li class="menu-item">
        Champagne
    </li>
    <li class="menu-item">
        Communauté
    </li>
    <li class="menu-item">
        Aide
        <ul>
            <li><a href="{{ route_i18n.path('owner_site_static_contact', {}, ['contact']) }}">Contact</a></li>
            <li><a href="{{ path('owner_site_faq_index') }}">Faq</a></li>
            <li>Demande de soumissions</li>
        </ul>
    </li>
</ul>
