{%  extends "OwnerSiteBundle:Templates:add_template.html.twig" %}
{% import "::macro/route/i18n.html.twig" as route_i18n %}
{% block formhead %}
    {{ route_i18n.path('owner_site_user_create', {}, ['user', 'create']) }}
{% endblock formhead %}

{% block save_button %}
    {{ form_widget(edit_form.save) }}
{% endblock save_button %}

{% block fields %}
<fieldset>
    {{ form_rest(edit_form) }}
</fieldset>
{% endblock fields %}

{% block back %}
    <a href="{{ route_i18n.path('owner_site_user_list', {}, ['user', 'list']) }}">
        Back to the list
    </a>
{% endblock back %}
