{%  extends "OwnerSiteBundle:User:new.html.twig" %}
{% block formhead %}
    {{ path('EvocatioSecurityBundle_UserUpdate', { 'id': edit_form.vars.value.id }) }}
{% endblock formhead %}
{% block delete %}
<li>
    <form action="{{ path('EvocatioSecurityBundle_delete', { 'id': entity.id }) }}" method="post">
        {{ form_widget(delete_form) }}
        <button type="submit">Delete</button>
    </form>
</li>
{% endblock delete %}