{%  extends "::base.html.twig" %}
{% block theatre %}
<ul>
    {% for entity in entities %}
        <li>
        {{ entity.status }} - <strong>{{ entity.title }}</strong>
                <span>
   {{ entity.excerpt }}
                    </span> 
        <a href="{{ path('EvocatioPostBundle_show_slug', { 'slug': entity.slug }) }}">show</a>
                </li>
    {% else %}
                Pas d'entité
    {% endfor %}

{% endblock theatre %}


