{%  extends "OwnerSiteBundle::base_admin.html.twig" %}
{% import "::macro/route/i18n.html.twig" as route_i18n %}
{% block inside_content %}
<h2>{{"welcome.on.haven.administration" | trans}}</h2>
{% endblock inside_content %}
