{%  extends "EvocatioPersonaBundle:Company:new.html.twig" %}
{% block formhead %}
    {{ path('evocatio_persona_company_update', { 'id': entity.id, 'discriminator': 'company' }) }}
{% endblock formhead %}
{% block delete %}
<li>
   {# <form action="{{ path('EvocatioPersonaBundle_PersonDelete', { 'id': entity.id }) }}" method="post">
        {{ form_widget(delete_form) }}
        <button type="submit">Delete</button>
    </form>#}
</li>
{% endblock delete %}