{%  extends "::base.html.twig" %}
{% block inside_content %}
    <ul>
        {% for entity in entities %}
            <li><div>{{ entity.name }}</div> </li>
        {% else %}
            &nbsp;
        {% endfor %}
    </ul>
<ul>
</ul>
{% endblock inside_content %}



