{%  extends "::base.html.twig" %}
{% block inside_content %}
    <dl>
        {% for entity in entities %}
            <div><div>{{ entity.name }}</div> <a href="{{ path('evocatio_persona_company_edit', { 'id': entity.id, 'discriminator': 'company'}) }}">edit</a> <a href="{{ path('evocatio_persona_company_show', { 'id': entity.id, 'discriminator': 'company'}) }}">show</a> </div>
        {% else %}
            aucune entré
        {% endfor %}
    </dl>
<ul>
    <li>
        <a href="{{ path('evocatio_persona_company_new', {'discriminator': 'company'}) }}">
            Create a new entry
        </a>
    </li>
</ul>
{% endblock inside_content %}
