{%  extends "::base.html.twig" %}
{% block theatre %}

<ul>
    <li>
        <a href="{{ path('EvocatioPersonaBundle_CompanyNew') }}">
            Create a new entry
        </a>
    </li>
</ul>
{% endblock theatre %}
