{%  extends "::base.html.twig" %}
{% import "::macro/route/suffix.html.twig" as route_suffix %}
{% block inside_theater %}
    <dl>
        {% for entity in entities %}
            <div>
                <div> {{ entity.name }}</div> 
                <a href="{{ route_suffix.edit('evocatio_persona_company_edit', 'company', entity.id) }}">edit</a> 
                <a href="{{ route_suffix.show('evocatio_persona_company_show', 'company', entity.id) }}">show</a> 
            </div>
        {% else %}
            aucune entré
        {% endfor %}
    </dl>
<ul>
    <li>
        <a href="{{ route_suffix.create('evocatio_persona_company_create', 'company') }}">
            Create a new entry
        </a>
    </li>
</ul>
{% endblock inside_theater %}
