
<div>
    <h3>Actualités</h3>
    <article>
        <section>{% for entity in entities %}
            <h4>{{ entity.title|raw }}</h4>
            <div>{{ entity.excerpt |raw}}</div> 
            <a href="{{ path('EvocatioPostBundle_PostShowSlug', { 'slug': entity.slug }) }}">show more</a>
        {% else %}
            Pas d'entité 
        {% endfor %}
        </section>
    </article>
</div>


