
{% block theatre %}
<ul>
    {% for entity in entities %}
        <li>
        {{ entity.status }} - <strong>{{ entity.title }}</strong>
                <span>
   {{ entity.excerpt }}
                    </span> 
                    <a href="{{ path('EvocatioPostBundle_PostShowSlug', { 'slug': entity.slug }) }}">show</a>
                </li>
    {% else %}
                <li> Pas d'entité </li>
    {% endfor %}
            </ul>
{% endblock theatre %}


