{%  extends "::base.html.twig" %}
{% block content %}
<article class="record_properties">
    <section>
            <h4>{{ entity.getTitle() }}</h4>
            <div>{{ entity.getContent() }}</div>
            <div>{{ entity.getPath() }}</div>

    </section>
</article>
{% endblock content %}