{%  extends "OwnerSiteBundle::base_admin.html.twig" %}
{# Note: to make a multiple upload file in twig add [] to the full_name
                        {{ form_widget(translation.file,{'full_name': translation.file.get('full_name') ~ '[]'})}} 
#}


{% block inside_content %}
<h2>Ajouter</h2>
{{ form_errors(edit_form)}}
<div class="edit-form">
    {% block form %} 
        <form action="{% spaceless %}{% block formhead %}{% endblock formhead %}{% endspaceless %}" method="post" {{ form_enctype(edit_form) }} >
            {% block save_button %}
                <div>
                    <div>
                        <button type="submit" class="btn">Ok</button>
                    </div>
                </div>
            {% endblock save_button %}
        {% block inside_form %}
            {% block fields %}{% endblock fields %}
                <select id="evocatio_bundle_webbundle_faqtype_status" name="evocatio_bundle_webbundle_faqtype[status]" required="required"><option value="0">Inactive</option><option value="1">Publish</option></select>
                <p>test</p>
        {% endblock inside_form %} 
                    </form>
    {% endblock form %}
                </div>
{% endblock inside_content %}

{% block javascripts %}
    {{ parent() }}
                <script src="/js/sig.js" type="text/javascript"></script>
{% endblock javascripts %}

{# 
so far takes a form block, delete block and, formhead block
should add a title and h1 block
#}