{% extends "OwnerSiteBundle:Template:multilangue_add_template.html.twig" %}
{% block formhead %}
    {{ _route_crud.path('owner_site_faq_create', 'create') }}
{% endblock formhead %}
{% form_theme edit_form.translations "::Form/translations.html.twig" %}
{% block form %}
<fieldset>
  
                        {{ form_rest(edit_form) }}
                </fieldset>
{% endblock form %}

{% block back %}
               {# <a href="{{ _route_crud.path('owner_site_faq_list', 'list') }}">
                    Back to the list
                </a>#}
{% endblock back %}
