{%  extends "OwnerSiteBundle:Faq:create.html.twig" %}
{% block formhead %}
{{ _route_crud.path('owner_site_faq_edit', 'edit', entity.id) }}
{% endblock formhead %}
{% block delete %}
<li>
   {# <form action="{{ path('EvocatioFaqBundle_FaqDelete', { 'id': entity.id }) }}" method="post">
        {{ form_widget(delete_form) }}
        <button type="submit">Delete</button>
    </form>#}
</li>
{% endblock delete %}

