{# empty Twig template #}
{% import "::macro/route/i18n.html.twig" as route_i18n %}
{% block fields %}
<form class="form" action="{{ route_i18n.path('owner_site_faq_rank', {}, ['rank']) }}" method="POST">
    <fieldset>
        <ul>
        {% for form in edit_form.faqs %}
        <li class="faq">
            <a class="btn rank up" onclick="rank($(this).parent(), 'up');"><img src="/images/arrow_up.png" /></a>
            <a class="btn rank down" onclick="rank($(this).parent(), 'down');"><img src="/images/arrow_down.png" /></a>
            {{ form.vars["data"].question }}
            {{ form_widget(form) }}
        </li>    
        {% endfor %}
        </ul>
    {{ form_rest(edit_form) }}
    </fieldset>
</form>
{% endblock fields %}