{%  extends "OwnerSiteBundle:Template:multilangue_add_template.html.twig" %}
{% block formhead %}
    {{  _route_crud.path('owner_site_post_create',  'create') }}
{% endblock formhead %}

{#% form_theme edit_form "OwnerSiteBundle:Form:formulator.html.twig" %#}
{#% form_theme edit_form "::Form/generic.html.twig" %#}
{% form_theme edit_form "::Form/generic_with_translations.html.twig" %}

{% block form %}
<fieldset>
        {{ form_widget(edit_form) }}
        <div class="hidden">
        </div>
</fieldset>
{% endblock form %}

{% block back %}
            <a href="{{ _route_crud.path('owner_site_post_list', 'list') }}">
                Back to the list
            </a>
{% endblock back %}
