{%  extends "EvocatioWebBundle:Post:create.html.twig" %}
{% block formhead %}
    {{ path('evocatio_web_post_edit', {'edit': ('edit' | trans({}, 'routes')), 'id': entity.id}) }}
{% endblock formhead %}
{% block delete %}
{#<li>
    <form action="{{ path('EvocatioWebBundle_PostDelete', { 'id': entity.id }) }}" method="post">
        {{ form_widget(delete_form) }}
        <button type="submit">Delete</button>
    </form>
</li>#}
{% endblock delete %}