{% extends "OwnerSiteBundle::base.html.twig" %}
{% block navigation %}
{% endblock navigation %}
{% block header %}
{% endblock header %}
{% block inside_content %} 
{% for area in entity.template.areas %}
<div id="{{ area.name }}" class="area" ondrop="addContent()">
        <section>
            <h6>Available content list</h6>
            <ul class="contents-list">
                <li>
                    <input type=button value="Add Html content" onclick="javascript:addHtmlContent('evocatio_bundle_cmsbundle_pagetype_html_contents', '', '{{ area.name }}');" />
                </li>
            </ul>
        </section>
        <div class="display">
            {% for content in entity.getPageContents() %}
                {{ content.getContent().content |raw }}
            {% endfor %}
        </div>
    </div>
<div id="editable" contenteditable="true">
    <h1>Inline Editing in Action!</h1>
    <p>The div element that contains this text is now editable.
</div>
{% endfor %}
    {#% block div1 %}
    <div id="div1">
        {% block inside_div1 %}
            {% if entity.htmlcontents().count() %}
            {{ entity.htmlcontents().first().content }}
            {% endif %}
            <p>
                test gjire gjei
                geg jeroigj<br />
                geg jeroigj
            </p>
        {% endblock inside_div1 %}
    </div>
    {% endblock div1 %}
    {% block div2 %}
    <div id="div2">
        {% block inside_div2 %}
            <p>
                test gjire gjei
                geg jeroigj<br />
                geg jeroigj
            </p>
        {% endblock inside_div2 %}
    </div>
    {% endblock div2 %}
    {% block div3 %}
    <div id="div3">
        {% block inside_div3 %}
            <p>
                test gjire gjei
                geg jeroigj<br />
                geg jeroigj
            </p>
        {% endblock inside_div3 %}
    </div>
    {% endblock div3 %}
    {% block div4 %}
    <div id="div4">
        {% block inside_div4 %}
            <p>
                test gjire gjei
                geg jeroigj<br />
                geg jeroigj
            </p>
        {% endblock inside_div4 %}
    </div>
    {% endblock div4 %}
    {% block div5 %}
    <div id="div5">
        {% block inside_div5 %}
            <p>
                test gjire gjei
                geg jeroigj<br />
                geg jeroigj
            </p>
        {% endblock inside_div5 %}
    </div>
    {% endblock div5 %}
    {% block div6 %}
    <div id="div6">
        {% block inside_div6 %}
            <p>
                test gjire gjei
                geg jeroigj<br />
                geg jeroigj
            </p>
        {% endblock inside_div6 %}
    </div>
    {% endblock div6 %#}
    
{% endblock inside_content %}