{%  extends "OwnerSiteBundle::base.html.twig" %}

{% block inside_theater %}
<div id="aside-left-area" class="area">
    <div class="article">
        <h3>Article 1</h3>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </div>
    <div class="article">
        <h3>Article 2</h3>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </div>
    <div class="article">
        <h3>Article 3</h3>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </div>
    <div class="newsletter">
        <h3>Neswletter</h3>
        <p>Inscrivez vous à notre news letter</p>
        <form>
            <label> Adresse email </label><input name="email" />
        </form>

    </div>
</div>

<div id="center-area" class="area">
    <h2>Last news Widget</h2>
    <ul>
        <li>
            <div>
                <h4>Nouveaux site evocatio 24/01/2013</h4>
                <p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vel eleifend mi, ac adipiscing sem. Nullam diam tortor, vulputate vitae nisi eget, tincidunt dictum tortor. Sed ac urna vitae purus porta iaculis vel non diam. Nam eleifend tristique arcu, et luctus erat vulputate sit amet. Vivamus bibendum, nisl at egestas vehicula, purus urna tempor nulla, in pharetra magna nisi quis sem. In ac pulvinar est. 
                </p>
            </div>
        </li>
        <li>
            <div>
                <h4>Nouveaux site evocatio 23/01/2013</h4>
                <p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vel eleifend mi, ac adipiscing sem. Nullam diam tortor, vulputate vitae nisi eget, tincidunt dictum tortor. Sed ac urna vitae purus porta iaculis vel non diam. Nam eleifend tristique arcu, et luctus erat vulputate sit amet. Vivamus bibendum, nisl at egestas vehicula, purus urna tempor nulla, in pharetra magna nisi quis sem. In ac pulvinar est. 
                </p>
            </div>
        </li>
        <li>
            <div>
                <h4>Nouveaux site evocatio 18/03/2012</h4>
                <p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vel eleifend mi, ac adipiscing sem. Nullam diam tortor, vulputate vitae nisi eget, tincidunt dictum tortor. Sed ac urna vitae purus porta iaculis vel non diam. Nam eleifend tristique arcu, et luctus erat vulputate sit amet. Vivamus bibendum, nisl at egestas vehicula, purus urna tempor nulla, in pharetra magna nisi quis sem. In ac pulvinar est. 
                </p>
            </div>
        </li>
    
    </ul>
    ------ center
</div>


<div id="aside-right-area" class="area">
        <div class="newsletter">
        <h3>Global Search</h3>
        <form>
            <label> </label><input name="email" />
        </form>
    </div>
    ------ aside-right
</div>
{% endblock inside_theater %}

{% block stylesheets %}
    {{ parent() }}
    {% if app.environment != 'prod' %}
        <link href="{{ asset("less/home_template.less") }}" rel="stylesheet/less" type="text/css" />
    {% else %}
<!-- CSS -->
    {% endif %}
{% endblock stylesheets%}