{% extends "::base.html.twig" %}

{% block inside_theater %}
<div id="aside-left-area" class="area">
    <div class="article">
        <h3>Article 1</h3>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </div>
    <div class="article">
        <h3>Article 2</h3>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </div>
    <div class="article">
        <h3>Article 3</h3>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </div>
    <div class="newsletter">
        <h3>Neswletter</h3>
        <p>Inscrivez vous à notre news letter</p>
        <form>
            <label> Adresse email </label><input name="email" />
        </form>

    </div>
</div>

<div id="center-area" class="area">
    <ul>
        <li>
        
            <p></p>
        </li>
    
    </ul>
    ------ center
</div>


<div id="aside-right-area" class="area">
    ------ aside-right
</div>
{% endblock inside_theater %}

{% block stylesheets %}
    {{ parent() }}
    {% if app.environment != 'prod' %}
        <link href="{{ asset("less/home_template.less") }}" rel="stylesheet/less" type="text/css" />
    {% else %}
<!-- CSS -->
    {% endif %}
{% endblock stylesheets%}