{%  extends "OwnerSiteBundle::base.html.twig" %}

{% block inside_theater %}

<div id="center-area" class="area">
    <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce quis convallis tortor. 
    Phasellus mauris sem, pretium ut purus sed, eleifend ornare urna. Mauris ut malesuada elit. 
    Praesent sem odio, vestibulum a consequat in, suscipit vitae sem. Etiam quis massa nibh. Suspendisse dui nibh, 
    fermentum et mauris at, vestibulum ultrices nunc. Nullam porta sapien lorem, at sodales massa sodales in. 
    In adipiscing, turpis non malesuada rhoncus, enim augue sollicitudin elit, eu iaculis tortor purus sed elit.
    </p>
</div>


<div id="aside-right-area" class="area">
        <div class="newsletter">
        <h3>Global Search</h3>
        <form>
            <label> </label><input name="email" />
        </form>
    </div>
    ------ aside-right
</div>
{% endblock inside_theater %}

{% block stylesheets %}
    {{ parent() }}
    {% if app.environment != 'prod' %}
        <link href="{{ asset("less/home_template.less") }}" rel="stylesheet/less" type="text/css" />
    {% else %}
<!-- CSS -->
    {% endif %}
{% endblock stylesheets%}