{% extends "OwnerSiteBundle::base_admin.html.twig" %}
{% block inside_content %}
<h2>Liste des pages</h2>
    <dl>
        {% for entity in entities %}
            <div>
                <div> {{ entity.title }}</div> 
                <a href="{{ _route_crud.edit('owner_site_page_edit',  entity.id) }}">edit</a> 
                <a href="{{ _route_crud.show('owner_site_page_show', entity.id) }}">show</a> 
            </div>
        {% else %}
            aucune entré
        {% endfor %}
    </dl>
<ul>
    <li>
        <a href="{{ _route_crud.path('owner_site_page_create', 'create') }}">
            Create a new entry
        </a>
    </li>
</ul>
{% endblock inside_content %}
