{%  extends "EvocatioPersonaBundle:PersonaAdmin:new.html.twig" %}
{% block formhead %}
    {{ path('EvocatioPersonaBundle_PersonaUpdate', { 'id': edit_form.vars.value.id }) }}
{% endblock formhead %}
{% block delete %}
<li>
    <form action="{{ path('EvocatioPersonaBundle_PersonaDelete', { 'id': entity.id }) }}" method="post">
        {{ form_widget(delete_form) }}
        <button type="submit">Delete</button>
    </form>
</li>
{% endblock delete %}