{%  extends "::base.html.twig" %}
{% block content %}
    <dl>
        {% for entity in entities %}
            <dt><div>{{ entity.id }}</div> <a href="{{ path('EvocatioPersonaBundle_PersonaEdit', { 'id': entity.id}) }}">edit</a> <a href="{{ path('EvocatioPersonaBundle_PersonaShow', { 'id': entity.id }) }}">show</a> </dt>
        {% else %}
            aucune entré
        {% endfor %}
    </dl>
<ul>
    <li>
        <a href="{{ path('EvocatioPersonaBundle_PersonNew') }}">
            Create a new entry
        </a>
    </li>
</ul>
{% endblock content %}
