{#% extends "OwnerSiteBundle:Templates:add_template.html.twig" %#}
{% extends "OwnerSiteBundle:Templates:multilangue_page.html.twig" %}
{% block formhead %}
    {{ _route_crud.path('owner_site_template_create', 'create') }}
{% endblock formhead %}

{% block form %}
<fieldset>
        {{ form_widget(edit_form) }}
        <div class="hidden">
        </div>
</fieldset>
<ul class="contents-list">
    <li>
        <input type=button value="Add area" onclick="javascript:addAnItem('haven_bundle_cmsbundle_templatetype_areas');" />
    </li>
</ul>
{% endblock form %}


{% block available_content %}
<div id="htmlcontent" class="draggable" ondragstart="console.log('drag')">
    <img width="120px" style="border: 1px solid black" src="/images/html_content.jpg" />
</div>
{% endblock available_content %}
{% block back %}
    <a href="{{ _route_crud.path('owner_site_template_list', 'list') }}">
        Back to the list
    </a>
{% endblock back %}
