{% extends "OwnerSiteBundle:Template:create.html.twig" %}
{% block inside_body %}
{% embed ("OwnerSiteBundle:Template:create.html.twig" ) %}
    {% block formhead %}
        {{ _route_crud.path('owner_site_template_edit', 'edit', { 'id':entity.id}) }}
    {% endblock formhead %}
    {% block form %}
        <fieldset> {{ form_widget(edit_form) }} </fieldset>
    {% endblock form %}
{% endembed %}
{% endblock inside_body %}
{% block delete %}
    <li>
   {# <form action="{{ path('EvocatioPersonaBundle_PersonDelete', { 'id': entity.id }) }}" method="post">
        {{ form_widget(delete_form) }}
        <button type="submit">Delete</button>
    </form>#}
        </li>
{% endblock delete %}