{%  extends "EvocatioPersonaBundle:Person:create.html.twig" %}
{% import "::macro/route/suffix.html.twig" as _route_suffix %}
{% block formhead %}
    {{ _route_suffix.path('evocatio_persona_person_edit', 'edit', 'person', entity.id) }}
{% endblock formhead %}
{% block delete %}
<li>
   {# <form action="{{ path('EvocatioPersonaBundle_PersonDelete', { 'id': entity.id }) }}" method="post">
        {{ form_widget(delete_form) }}
        <button type="submit">Delete</button>
    </form>#}
</li>
{% endblock delete %}