{%  extends "::base.html.twig" %}
{% block theatre %}
    <dl>
        {% for entity in entities %}
            <dt><div>{{ entity.address }}</div> </dt>
            <dd></dd>
        {% else %}
            &nbsp;
        {% endfor %}
    </dl>
<ul>
</ul>
{% endblock theatre %}



