{%  extends "EvocatioCoreBundle:Template:add_template.html.twig" %}
{% block formhead %}
    {{ path('EvocatioPersonaBundle_PostalCreate') }}
{% endblock formhead %}

{% block form %}
<fieldset>
    <ul>
        <li>{#{ form_label(edit_form.name)}#}
            {#{ form_errors(edit_form.name)}#}
                <span>{#{ form_widget(edit_form.name)}#}</span>
            </li>
                        {{ form_rest(edit_form) }}
                </fieldset>
{% endblock form %}

{% block back %}
                <a href="{{ path('EvocatioPersonaBundle_PostalList') }}">
                    Back to the list
                </a>
{% endblock back %}
