{%  extends "::base.html.twig" %}
{% block theatre %}
    <dl>
        {% for faq in entities %}
            <dt><div>{{ faq.status?'status':'instatus' }}</div> <strong>{{ faq.question }}</strong></dt>
            <dd>{{ faq.reponse }}</dd>
        {% else %}
            &nbsp;
        {% endfor %}
    </dl>
<ul>
</ul>
{% endblock theatre %}



