{%  extends "EvocatioWebBundle:Post:create.html.twig" %}
{% import "::macro/route/crud.html.twig" as _route_crud %}
{% block formhead %}
    {{ _route_crud.path('evocatio_web_post_edit', 'edit', entity.id) }}
{% endblock formhead %}
{% block delete %}
{#<li>
    <form action="{{ path('EvocatioWebBundle_PostDelete', { 'id': entity.id }) }}" method="post">
        {{ form_widget(delete_form) }}
        <button type="submit">Delete</button>
    </form>
</li>#}
{% endblock delete %}