
{% block theatre %}
<ul>
    {% for entity in entities %}
        <li>
        {{ entity.status }} - <strong>{{ entity.title }}</strong>
                <span>
   {{ entity.excerpt }}
                    </span> 
                    <a href="{{ path(entity.slug?'EvocatioWebBundle_PostShowSlug':'owner_site_post_show', { 'slug': entity.slug , 'id': entity.id }) }}">show</a>
                </li>
    {% else %}
                Pas d'entité
    {% endfor %}
{% endblock theatre %}


