{% extends "OwnerSiteBundle:Templates:multilangue_add_template.html.twig" %}
{#% extends "OwnerSiteBundle:Templates:multilangue_menu.html.twig" %#}
{% block formhead %}
        {{ _route_crud.path('owner_site_menu_create', "create", {"parent": parent}) }}

{% endblock formhead %}

{#% form_theme edit_form "OwnerSiteBundle:Form:formulator.html.twig" %#}

{% form_theme edit_form "::Form/generic_with_translations.html.twig" %}
{% form_theme edit_form.translations "::Form/translations.html.twig" %}
{#% form_theme edit_form.files "::Form/file_upload.html.twig" %#}
{% block fields %}
<fieldset>
    {{ form_rest(edit_form) }}
</fieldset>
{% endblock fields %}

{% block save_button %}
    {{ form_widget(edit_form.save) }}
{% endblock save_button %}

{#% block available_content %}
<div id="htmlcontent" class="draggable" ondragstart="console.log('drag')">
    <img width="120px" style="border: 1px solid black" src="/images/html_content.jpg" />
</div>
{% endblock available_content %#}
{% block back %}
    <a href="{{ _route_crud.path('owner_site_menu_list', 'list') }}">
        Back to the list
    </a>
{% endblock back %}
